@model Project2IdentityEmail.Dtos.UserEditDto
@{
    ViewData["Title"] = "EditProfile";
    Layout = "~/Views/UserLayout/Index.cshtml";
}


<!-- ============================================================== -->
<!-- End Bread crumb and right sidebar toggle -->
<!-- ============================================================== -->
<!-- ============================================================== -->
<!-- Container fluid  -->
<!-- ============================================================== -->
<div class="container-fluid">
    <!-- ============================================================== -->
    <!-- Start Page Content -->
    <!-- ============================================================== -->
    <!-- Row -->
    <div class="row">
        <!-- Column -->
        <div class="col-lg-4 col-xlg-3 col-md-5">
            <div class="card">
                <div class="card-body">
                    <center class="m-t-30">
                        <img src="~/images/@Model.ImageUrl" class="rounded-circle" width="150" />

                        <h4 class="card-title m-t-10">@Model.Name @Model.Surname</h4>

                        <div class="row text-center justify-content-md-center mt-3">

                            <!-- Okunmamış -->
                            <div class="col-6">
                                <a href="/MessageController1/Inbox" class="link d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-email-outline mr-2" style="font-size:22px;"></i>
                                    <div class="text-left">
                                        <small class="text-muted d-block">Okunmamış</small>
                                        <span class="font-weight-bold" style="font-size:18px;">
                                            @ViewBag.UnreadCount
                                        </span>
                                    </div>
                                </a>
                            </div>

                            <!-- Okunan -->
                            <div class="col-6">
                                <a href="/MessageController1/Inbox" class="link d-flex align-items-center justify-content-center">
                                    <i class="mdi mdi-email-open-outline mr-2" style="font-size:22px;"></i>
                                    <div class="text-left">
                                        <small class="text-muted d-block">Okunan</small>
                                        <span class="font-weight-bold" style="font-size:18px;">
                                            @ViewBag.ReadCount
                                        </span>
                                    </div>
                                </a>
                            </div>

                        </div>


                    </center>
                </div>
                <div>
                    <hr>
                </div>
                <div class="card-body">
                    <small class="text-muted">Email Adres </small>
                    <h6>@Model.Email</h6> <small class="text-muted p-t-30 db">Telefon Numara</small>
                    <h6>@Model.PhoneNumber</h6> <small class="text-muted p-t-30 db">Adres</small>
                    <h6>Çankaya, Tunus Caddesi No:78/4, 06690 Çankaya/Ankara, Türkiye</h6>
                    <div class="map-box">
                        <iframe src="https://www.google.com/maps?q=Tunus+Caddesi+No:78,+Çankaya,+Ankara&output=embed"
                                width="100%"
                                height="150"
                                frameborder="0"
                                style="border:0"
                                allowfullscreen>
                        </iframe>

                    </div> <small class="text-muted p-t-30 db">Social Profile</small>
                    <br />
                    <button class="btn btn-circle btn-secondary"><i class="fab fa-facebook-f"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="fab fa-twitter"></i></button>
                    <button class="btn btn-circle btn-secondary"><i class="fab fa-youtube"></i></button>
                </div>
            </div>
        </div>
        <!-- Column -->
        <!-- Column -->
        <div class="col-lg-8 col-md-7">
            <div class="card">
                <!-- Tabs -->
                <ul class="nav nav-tabs" id="pills-tab" role="tablist">
                   
                    <li class="nav-item">
                        <a class="nav-link active" id="pills-profile-tab" data-toggle="pill" href="#last-month"
                           role="tab" aria-controls="pills-profile" aria-selected="false">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="pills-setting-tab" data-toggle="pill" href="#previous-month"
                           role="tab" aria-controls="pills-setting" aria-selected="false">Setting</a>
                    </li>
                </ul>
                <!-- Tabs -->
                <div class="tab-content" id="pills-tabContent">
                 
                    <div class="tab-pane fade show active" id="last-month" role="tabpanel" aria-labelledby="pills-profile-tab">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Full Name</strong>
                                    <br>
                                    <p class="text-muted">@Model.UserName</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Mobile</strong>
                                    <br>
                                    <p class="text-muted">@Model.PhoneNumber</p>
                                </div>
                                <div class="col-md-3 col-xs-6 b-r">
                                    <strong>Email</strong>
                                    <br>
                                    <p class="text-muted">@Model.Email</p>
                                </div>
                                <div class="col-md-3 col-xs-6">
                                    <strong>Location</strong>
                                    <br>
                                    <p class="text-muted">Türkiye</p>
                                </div>
                            </div>
                            <hr>
                            <p class="m-t-30">
                               @Model.About
                            </p>
                            
                            <h4 class="font-medium m-t-30">Skill Set</h4>
                            <hr>
                            <h5 class="m-t-30">SQL <span class="pull-right">80%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-success" role="progressbar" aria-valuenow="80"
                                     aria-valuemin="0" aria-valuemax="100" style="width:80%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="m-t-30">ASP.NET <span class="pull-right">90%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90"
                                     aria-valuemin="0" aria-valuemax="100" style="width:90%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="m-t-30">Entity Framework Core <span class="pull-right">50%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="50"
                                     aria-valuemin="0" aria-valuemax="100" style="width:50%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                            <h5 class="m-t-30">REACT <span class="pull-right">70%</span></h5>
                            <div class="progress">
                                <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="70"
                                     aria-valuemin="0" aria-valuemax="100" style="width:70%; height:6px;">
                                    <span class="sr-only">50% Complete</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="previous-month" role="tabpanel" aria-labelledby="pills-setting-tab">
                        <div class="card-body">
                            <form method="post"
                                  enctype="multipart/form-data"
                                  asp-action="EditProfile"
                                  asp-controller="ProfileController1"
                                  class="form-horizontal form-material">

                                <div class="form-group">
                                    <label class="col-md-12">Name</label>
                                    <div class="col-md-12">
                                        <input type="text" asp-for="Name" placeholder="Adınız" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Surname</label>
                                    <div class="col-md-12">
                                        <input type="text" asp-for="Surname" placeholder="Soyadınız" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Kullanıcı Adınız</label>
                                    <div class="col-md-12">
                                        <input type="text" asp-for="UserName" placeholder="Kullanıcı Adınız" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="example-email" class="col-md-12">Email</label>
                                    <div class="col-md-12">
                                        <input type="email" asp-for="Email" placeholder="Email Adresiniz" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Telefon Numarası</label>
                                    <div class="col-md-12">
                                        <input type="text" asp-for="PhoneNumber" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Şifre</label>
                                    <div class="col-md-12">
                                        <input type="password" asp-for="Password" placeholder="Şifreniz" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Şifre Tekrar</label>
                                    <div class="col-md-12">
                                        <input type="password" asp-for="ConfirmPassword" placeholder="Şifreniz" class="form-control form-control-line">
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-md-12">Fotoğraf</label>
                                    <div class="col-md-12">
                                        <input type="file" asp-for="Image" placeholder="Lütfen bir resim seçiniz" class="form-control form-control-line">
                                    </div>
                                </div>                                                                                                              
                                <div class="form-group">
                                    <div class="col-sm-12">
                                        <button class="btn btn-success">Bilgileri Güncelle</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      
    </div>
  
</div>

